# Coding Assignment 5

Group Members:
Zubair Lalani (zubairl2)
Adithya Swaminathan (adithya9)

## Setup

In [19]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

## Problem 1

Read the data and one-hot encode Gender predictor

In [14]:
DATA_PATH = "data/problem1/Mall_Customers.csv"
df = pd.read_csv(DATA_PATH)
df = df.rename(columns={"Genre": "Gender"}) # Fix misspelling of the column name in the original data
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [15]:
df = pd.get_dummies(df, columns=["Gender"])
df["Gender_Female"] = df["Gender_Female"].astype(int)
df["Gender_Male"] = df["Gender_Male"].astype(int)
df.head()

,CustomerID,Age,Annual Income (k$),Spending Score (1-100),Gender_Female,Gender_Male
0,1,19,15,39,0,1
1,2,21,15,81,0,1
2,3,20,16,6,1,0
3,4,23,16,77,1,0
4,5,31,17,40,1,0

In [16]:
df.dtypes

CustomerID                int64
Age                       int64
Annual Income (k$)        int64
Spending Score (1-100)    int64
Gender_Female             int64
Gender_Male               int64
dtype: object

Scale the features in our dataset and remove unnecessary columns

In [23]:
features_cols = ["Age", "Annual Income (k$)", "Spending Score (1-100)",
                "Gender_Female", "Gender_Male"]

X = df[features_cols] # removes CustomerID since we don't need it for our purposes
scaler = StandardScaler()
X = scaler.fit_transform(X)

### 1.A

### 1.B

## Problem 2